<ng-template #create_edit>
    <!-- template de formulario para crear y editar-->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{nameTitle}}</h4>
        <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-bodys">
        <div class="container-fluid">
            <form class="text-center border border-light p-2" [formGroup]="form">
                <p class="h4 mb-4">Registro Empleado</p>
                <div *ngIf="previsualizacion" class="upload-img">
                  <img [src]="previsualizacion" alt="any.png">
                </div>
                <input type="file" (change)="capturarFile($event)">
                <mat-form-field appearance="outline">
                  <mat-label>Nombres</mat-label>
                  <input formControlName="nombre" matInput/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="nombre" matInput/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="nombre" matInput/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input formControlName="nombre" matInput/>
                </mat-form-field>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Activo</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
            Save
            </button> -->
        <form [formGroup]="form" (submit)="guardarCambios()">
            <button type="button" class="btn btn-danger" data-bs-dismis="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismis="modal">Guardar</button>
        </form>
    </div>
</ng-template>


<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow position-relative">
        <div class="page__content-data  contenedor">
            <!-- <div class="contenedor-tabla"> -->
            <div class="header-body">
                <p>Opciones</p>
                <div class="options">
                    <button class="btn btn-light"><i class='bx bx-filter-alt'></i>Filtros</button>
                    <button class="btn btn-light "><i class='bx bx-cog' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>Acciones</button>
                    <div class="dropdown-menu">
                        <h6 class="dropdown-header">Dropdown header</h6>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </div>
            </div>

            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Age</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of datos; let i=index">
                        <th>{{post.id}}</th>
                        <th>{{post.employee_name}}</th>
                        <th>{{post.employee_salary}}</th>
                        <th>{{post.employee_age}}</th>
                        <th>
                            <div class="btn-tb">
                                <button class="btn btn-danger" (click)="open(create_edit)"> <i class='bx bx-trash'></i></button>
                                <button class="btn btn-warning"> <i class='bx bx-edit'></i></button>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <!-- </div> -->
        </div>
    </div>
</div>
