<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow position-relative">
        <div class="page__content-data position-absolute text-center">
            <!-- <div class="contenedor-tabla"> -->
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Age</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of datos; let i=index">
                        <th>{{post.id}}</th>
                        <th>{{post.employee_name}}</th>
                        <th>{{post.employee_salary}}</th>
                        <th>{{post.employee_age}}</th>
                        <th>
                            <div class="btn-tb">
                                <button class="btn btn-danger"> <i class='bx bx-trash'></i></button>
                                <button class="btn btn-danger"> <i class='bx bx-edit'></i></button>
                            </div>
                        </th>
                    </tr>
                </tbody>
                <!-- </div> -->
            </table>
        </div>
    </div>
</div>